{% extends "base.html" %}

{% block title %}{{ current_booking }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        {% for b in bookings %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="">
                <div class="caption">
                    <h3>{{ b.activity }}</h3>
                    <p>{{ b.activity.description }}</p>
                    <p><a href="{% url 'bookings:booking' b.pk %}" class="btn btn-info" role="button">Detaljer</a> <a href="#" class="btn btn-warning" role="button">Avboka</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}