{% extends "base.html" %}

{% block title %}{{ current_booking }}{% endblock %}

{% block content %}

<div class="container">
    {% load crispy_forms_tags %}
    <div class="row">
        <h2 class="text-center"> {{ current_booking.activity }} </h2>
        <p class="text-center">{{ current_booking.activity.description }}</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Alternativ</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                    {% for option in current_booking.bookingoption_set.all %}
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h4>{{ option.feature_option.feature }}</h4>
                            <p>{{ option.feature_option }}</p>
                        </div>
                    {% endfor %}
                        <div class="col-md-4">
                            {% if not feature_form %}
                                <a href="{% url 'bookings:change_booking' current_booking.pk 1 %}" class="btn btn-info" role="button">Ändra</a>
                            {% endif %}
                        </div>
                    </div>
                    {% if feature_form %}
                    <div class="row">
                        <div class="col-md-12">
                            {% crispy feature_form %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Deltagare</h3>
                </div>
                <div class="panel-body">
                    {% if p.adult != 0 %}
                    <h4>Vuxna: {{ p.adult }}</h4>
                    {% endif %}
                    {% if p.youth != 0 %}
                    <h4>Ungdomar: {{ p.youth }}</h4>
                    {% endif %}
                    {% if p.child != 0 %}
                    <h4>Barn: {{ p.child }}</h4>
                    {% endif %}
                    {% if p.student != 0 %}
                    <h4>Studenter: {{ p.student }}</h4>
                    {% endif %}
                    {% if p.senior != 0 %}
                    <h4>Pensionärer: {{ p.senior }}</h4>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Totalt antal deltagare: {{ total }}</h4>
                        </div>
                        <div class="col-md-4">
                            {% if not people_form %}
                                <a href="{% url 'bookings:change_booking' current_booking.pk 2 %}" class="btn btn-info" role="button">Ändra</a>
                            {% endif %}
                        </div>
                    </div>
                    {% if people_form %}
                    <div class="row">
                        <div class="col-md-12">
                            {% crispy people_form %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Info</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>{{ current_booking.activity_date.date }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Pris: {{ current_booking.amount }} kr</h4>
                        </div>
                        <div class="col-md-4">
                            {% if not date_form %}
                                <a href="{% url 'bookings:change_booking' current_booking.pk 3 %}" class="btn btn-info" role="button">Ändra</a>
                            {% endif %}
                        </div>
                    </div>
                    {% if date_form %}
                    <div class="row">
                        <div class="col-md-12">
                            {% crispy date_form %}
                        </div>
                    </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">$(function() {
    $( "#id_date" ).datepicker();
  });</script>

{% endblock %}