{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}


<div class="container">
    <h1 class="text-center"> {{activity.label}} </h1>
    <p class="text-center">{{activity.description}}</p>

    <div class="row">
        <div class="col-md-9">
        <div class="panel panel-info">
            <div class="panel-heading">
            <h3 class="panel-title">Alternativ för aktivitet</h3>
            </div>
            <br>
                {% load crispy_forms_tags %}
                {% crispy form %}
            <br>
        </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Prislista</h3>
            </div>
            <ul>
                {% if prices.adult %}
                <li>Vuxen: {{ prices.adult }}</li>
                {% endif %}
                {% if prices.youth %}
                <li>Ungdom: {{ prices.youth }}</li>
                {% endif %}
                {% if prices.child %}
                <li>Barn: {{ prices.child }}</li>
                {% endif %}
                {% if prices.student %}
                <li>Student: {{ prices.student }}</li>
                {% endif %}
                {% if prices.senior %}
                <li>Pensionär: {{ prices.senior }}</li>
                {% endif %}
            </ul>

        </div>
    </div>
</div>
</div>
<script type="text/javascript">$(function() {
    $( "#id_date" ).datepicker();
  });</script>

{% endblock %}