{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}


<div class="container">
    <h1 class="text-center"> {{activity.label}} </h1>
    <p class="text-center">{{activity.description}}</p>

    <div class="row">
        <div class="col-md-9 panel panel-info">
            <h3>Alternativ för aktivitet</h3>
            <br>
                {% load crispy_forms_tags %}
                {% crispy form %}
            <br>
        </div>

        <div class="col-md-3 panel panel-info">
            <h3>Prislista</h3>
            <ul>
                {% if prices.adult %}
                <li>Vuxen: {{ prices.adult }}</li>
                {% endif %}
                {% if prices.youth %}
                <li>Ungdom: {{ prices.youth }}</li>
                {% endif %}
                {% if prices.child %}
                <li>Barn: {{ prices.child }}</li>
                {% endif %}
                {% if prices.student %}
                <li>Student: {{ prices.student }}</li>
                {% endif %}
                {% if prices.senior %}
                <li>Pensionär: {{ prices.senior }}</li>
                {% endif %}
            </ul>

        </div>
    </div>

</div>

{% endblock %}